# Node.js
node_modules/
app/.env

# Logs
*.log

# Terraform state and cache (מומלץ להשאיר חסום)
terraform.tfstate
terraform.tfstate.backup
.terraform/

# SSH Keys (חסום מפתחות!)
*.pem

# VSCode (רק מקומית)
.vscode/
terraform/terraform.tfvars
